$pColor: #388C76;
$sColor: #96CBB1;
$tColor: #E9E9CC;
$bgColor: #FBF6F6;
$fontColor: #273431;

$defaultFont: 'Lexend Deca', sans-serif;
$lightWeight:100;
$medWeight:400;
$boldWeight:600;

$gutter: 16px;